name: Deploy to VPS

on:
  push:
    branches: [ main ] # ou master, confira o nome da sua branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Instalar Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Instalar dependências e Construir (Build)
      run: |
        npm install
        npm run build

    - name: Enviar arquivos para VPS
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        source: "dist/*" # Pasta gerada pelo Vite
        target: "/var/www/sordbot"
        strip_components: 1 # Remove a pasta 'dist' e joga só os arquivos